{% extends "base.html" %}

{% block body %}
    <h3 class="text-center m-4">Employee Details</h3>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-info fa-lg"></i> Employee Details
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li>Employee ID: <strong>{{ employee.employee_id }}</strong></li>
                        <li>First Name: <strong>{{ employee.first_name }}</strong></li>
                        <li>Last Name: <strong>{{ employee.last_name }}</strong></li>
                        <li>Email: <strong>{{ employee.email }}</strong></li>
                        <li>Job Title: <strong>{{ employee.job_title }}</strong></li>
                    </ul>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Back to Employee List</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
